body {
  background-color: #f9f9f9;
}

.header {
  color: $blue;
}

p.box {
  padding: 20px;
}
p {
  padding: 0;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 40px;
}

// Grid doc styles
.row {
  margin-bottom: 20px;
}
.col.grid-example {

  background-color: #FFF;
  border: 1px solid #eee;
  margin: 10px 0;

  p {
    margin: 10px;
  }
}