/***************
  HTML Styles	
***************/
body {
  background-color: #fcfcfc;
}
body.parallax-demo {
  height: 100%;
}

p.box {
  padding: 20px;
}
p {
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
 a {
  -webkit-font-smoothing: antialiased;
 } 
}

.header {
  color: color("materialize-red", "lighten-2");
  font-weight: 300;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

/********************
  Index Page Styles	
********************/

#logo-container {
  position: absolute;
  top: 50%;
  @include transform( translateY(-50%));
  height: 70%;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}


#responsive-img {
  width: 80%;
  display:block;
  margin: 0 auto;
}

#index-banner {
  background-color: color("materialize-red", "lighten-2");
  .container {
    position: relative;
  }
  .header {
    color: #FFF;
  }
  h4 {
    margin-bottom: 40px;
  }
}

// Latest commit widget
.github-commit {
  padding: 14px 0;
  height: 36px;
  line-height: 36px;
  background-color: #5c5757;
  color: hsl(0, 0%, 90%);
  font-size: .9rem;
}
@media #{$medium-and-down} {
  .github-commit {
    text-align: center;
  }
}

#github-button {
  background-color: #6f6d6d;
  @include transition(.25s ease);
  &:hover {
    background-color: #797777;
  }
}

.sha {
  color: hsl(0, 0%, 94%) ;
 margin: 0 6px 0 6px;
}

#download-button {
  background-color: color("materialize-red", "lighten-3");
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-weight: 400;

  &:hover {
    background-color: lighten(color("materialize-red", "base"), 30%);
  }
}


.promo{
  width: 100%;

  i {
    color: color("materialize-red", "lighten-2");
    font-size: 7rem;
    display: block;
  }
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0px;

}

#front-page-nav {
  background-color: #FFF;
  position: relative;
  a {
      color: color("materialize-red", "lighten-2");
    }
  li {
    &:hover {
      background-color: color("materialize-red", "lighten-5");
    }
    &.active {
      background-color: color("materialize-red", "lighten-5");
    }
  }
  .container {
    height: inherit;
  }
}

// Grid doc styles

.col.grid-example {
  @include transition(all .3s cubic-bezier(0.215, 0.61, 0.355, 1));
  border: 1px solid #eee;
  margin: 7px 0;

  p {
    margin: 15px;
  }
}

// Color Wheel
.dynamic-color {

  .red, .pink, .purple, .deep-purple, .indigo, .blue, .light-blue, .cyan, .teal, .green, .light-green, .lime, .yellow, .amber, .orange, .deep-orange, .brown , .grey,  .blue-grey {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    line-height: 55px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    @include box-sizing(border-box);
  }
  .col {
    margin-bottom: 55px;   
  }
}

.center {
  text-align: center;
  vertical-align: middle;
}

// Icons
.icon-container i {
  font-size: 3em;
  display: block;
  margin-bottom: 10px;
}
.icon-container .icon-preview {
  height: 120px;
  text-align: center;
}

.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;

  float: left;
  margin: 0px 0px 15px 0px;
  p {
    margin: 0px 0;
  }
}

// tabs 
.tabs-wrapper {
  position: relative;
  height: 48px;
  @extend .hide-on-small-only;

  .row.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
}


// Shadow demo styling
.shadow-demo {
  width: 125px;
  height: 125px;
  margin: 20px auto;
  
  @media only screen and (max-width: $large-screen) {
    width: 100px;
    height: 100px;
    
  }
  
  @media only screen and (max-width: $small-screen) {
    width: 150px;
    height: 150px;
  }
}

// parallax demo
.parallax-container {
  height: 70%;

  .text-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -27px;
  }

}
@media #{$medium-and-down} {
  .parallax-container {
    height: auto;
  }
}

// Table of contents 
ul.table-of-contents {
  margin-top: 1.5rem;
}


// Prism Styling
code, pre {
  font-size: 1.1rem;
}

.directory-markup {
  font-size: 1rem;
  line-height: 1.1rem !important;
}
pre[class*="language-"] {
  padding: .9rem;
}


// BuySellAds Styling
.buysellads {
  position: relative;

  .bsa_it.one {
    width: 130px;
    position: absolute;
    left: 0;
    top: 50px;

    .bsa_it_p {
      left: 0;
      bottom: -15px;
    }
    .bsa_it_ad .bsa_it_t { color: color("red", "lighten-2"); }
    .bsa_it_ad .bsa_it_d { color: color("red", "lighten-3"); }
  }

  .bsa_it_ad a {
    display: block;
    width: 130px;
  }
}

.buysellads-header {
  margin-top: 30px;

  .bsa_it.one .bsa_it_p { bottom: -20px; }
}

.bsa_it.one {
  min-width: 230px;
  max-width: 270px;
  display: inline-block;
  text-align: left;

  .bsa_it_ad {
    border: 0;
    padding: 0;
    background-color: transparent;

    .bsa_it_t { color: #fff; }
    .bsa_it_d { color: color("red", "lighten-4"); }
  }

  .bsa_it_p {
    right: auto;
    left: 40px;
    bottom: -5px;

    a { color: color("red", "lighten-4"); }
  }
}



// Footer styling
#footer .footer-block {
  display: inline-block;
 
  a {
    margin-left: 25px;
    vertical-align: bottom;
  }
}
@media #{$medium-and-down} {
  .footer-block {
    display: block;
    margin-bottom: 20px;
  }
}


//About page styling
.image-container {
  width: 100%;
  img {
    max-width: 100%;
  }
}

