body {
  background-color: #fcfcfc;
}

.header {
  @extend .red-text.lighten-2;
  font-weight: 300;
}

p.box {
  padding: 20px;
}
p {
  padding: 0;
  
}
.caption {
  font-size: 1.30rem;
  font-weight: 300;
  margin-bottom: 35px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 40px;
}

//Index page Styles
#logo-container {
  position: absolute;
  top: 50%;
  @include transform( translateY(-50%));
  height: 90%;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

// Temp
#github-button {
  @extend .red.lighten-2;
//  line-height: 19px;
  
}

#index-banner {
  @extend .red.lighten-2;
  .header {
    color: #FFF;
  }
  h4 {
    margin-bottom: 40px;
  }
}

#download-button {
  @extend .red.lighten-3;
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 19px;
  font-weight: 500;
}

.promo{
  padding: 0 20px;
  img {
    width:100%;
    margin-bottom:5em;
  }

  p {
    margin-top: -40px;
    font-size: 1.7rem;
    font-weight: 300;
  }

  i {
    @extend .red-text.lighten-3;
    margin-top: -80px;
    font-size: 220px;
    display: block;
  }
}
#front-page-nav {
  background-color: #FFF;
  position: relative;
  a {
    @extend .red-text.lighten-2;
    }
  li {
    &:hover {
      @extend .red.lighten-5; 
    }
    
  }
}

// Grid doc styles

.col.grid-example {

  background-color: #FFF;
  border: 1px solid #eee;
  margin: 10px 0;

  p {
    margin: 10px;
  }
}

// Color Wheel
.dynamic-color {

  .red, .pink, .purple, .deep-purple, .indigo, .blue, .light-blue, .cyan, .teal, .green, .light-green, .lime, .yellow, .amber, .orange, .deep-orange, .brown , .grey,  .blue-gray {
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    font-size: 12px;
    display: block;
    @include box-sizing(border-box);
  }
  .col {
    margin-bottom: 15px;   
  }
}

.center {
  text-align: center;
  vertical-align: middle;
}

.light {
  font-weight: 300; 
}

// Icons
.icon-container .entypo {
  font-size: 3em;
}
.icon-container .entypo-social {
  font-size: 3em;
}

.icon-holder {
  display: inline-block;
  text-align: center;
  width: 200px;

  float: left;
  margin: 5px 10px 0px 10px;
  p {
    margin: 0px 0;
  }
}

// Prism Styling
code, pre {
  font-size: 1.1rem
}
