body {
  background-color: #fcfcfc;
}

.header {
  @extend .red-text.lighten-2;
  font-weight: 300;
}

p.box {
  padding: 20px;
}
p {
  padding: 0;
  
}
.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 35px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

//Index page Styles
#logo-container {
  position: absolute;
  top: 50%;
  @include transform( translateY(-50%));
  height: 80%;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

// Temp
#github-button {
  @extend .red.lighten-2;
//  line-height: 19px;
  
}

#index-banner {
  @extend .red.lighten-2;
  .header {
    color: #FFF;
  }
  h4 {
    margin-bottom: 40px;
  }
  
  margin-bottom: 25px;
}

#download-button {
  @extend .red.lighten-3;
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 19px;
  font-weight: 500;

  &:hover {
    background-color: lighten(map-get($colors, "red"), 30%);
  }
}



.promo{
  padding: 0 20px;
  img {
    width:100%;
    margin-bottom:1.5rem;
  }
  
  i {
    @extend .red-text.lighten-3;
    font-size: 7rem;
    display: block;
  }
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;

}

#front-page-nav {
  background-color: #FFF;
  position: relative;
  a {
    @extend .red-text.lighten-2;
    }
  li {
    &:hover {
      @extend .red.lighten-5; 
    } 
  }
  .container {
    height: inherit;
  }
}

// Grid doc styles

.col.grid-example {

  background-color: #FFF;
  border: 1px solid #eee;
  margin: 10px 0;

  p {
    margin: 10px;
  }
}

// Color Wheel
.dynamic-color {

  .red, .pink, .purple, .deep-purple, .indigo, .blue, .light-blue, .cyan, .teal, .green, .light-green, .lime, .yellow, .amber, .orange, .deep-orange, .brown , .grey,  .blue-gray {
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    font-size: 12px;
    display: block;
    @include box-sizing(border-box);
  }
  .col {
    margin-bottom: 15px;   
  }
}

.center {
  text-align: center;
  vertical-align: middle;
}

.light {
  font-weight: 300; 
}

// Icons
.icon-container i {
  font-size: 3em;
  display: block;
  margin-bottom: 10px;
}
.icon-container .icon-preview {
  height: 120px;
  text-align: center;
}

.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;

  float: left;
  margin: 0px 0px 15px 0px;
  p {
    margin: 0px 0;
  }
}

// tabs 
.tabs-wrapper {
  position: relative;
  height: 48px;

  .row.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
}


// Shadow demo styling
.shadow-demo {
  width: 125px;
  height: 125px;
  margin: 20px auto;
  
  @media only screen and (max-width: $large-screen) {
    width: 100px;
    height: 100px;
    
  }
  
  @media only screen and (max-width: $small-screen) {
    width: 150px;
    height: 150px;
  }
}

// Getting Started Styling


// Prism Styling
code, pre {
  font-size: 1.1rem;
}

.directory-markup {
  font-size: 1rem;
  line-height: 1.1rem !important;
}

