/***************
  HTML Styles	
***************/
body {
  background-color: #fcfcfc;
}

p.box {
  padding: 20px;
}
p {
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
  a {
    -webkit-font-smoothing: antialiased;
  } 
  ul li:hover, ul li.active {
    background-color: color("materialize-red", "lighten-1");
  }
}

.header {
  color: color("materialize-red", "lighten-2");
  font-weight: 300;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

/********************
  Index Page Styles	
********************/

#logo-container {
  position: absolute;
  top: 50%;
  @include transform( translateY(-50%));
  height: 70%;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}


#responsive-img {
  width: 80%;
  display:block;
  margin: 0 auto;
}

#index-banner {
  background-color: color("materialize-red", "lighten-2");
  .container {
    position: relative;
  }
  .header {
    color: #FFF;
  }
  h4 {
    margin-bottom: 40px;
  }
}

// Latest commit widget
.github-commit {
  padding: 14px 0;
  height: 36px;
  line-height: 36px;
  background-color: #5c5757;
  color: hsl(0, 0%, 90%);
  font-size: .9rem;
}
@media #{$medium-and-down} {
  .github-commit {
    text-align: center;
  }
}

#github-button {
  background-color: #6f6d6d;
  @include transition(.25s ease);
  &:hover {
    background-color: #797777;
  }
}

.sha {
  color: hsl(0, 0%, 94%) ;
 margin: 0 6px 0 6px;
}

#download-button {
  background-color: color("materialize-red", "lighten-3");
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-weight: 400;

  &:hover {
    background-color: lighten(color("materialize-red", "base"), 30%);
  }
}


.promo{
  width: 100%;

  i {
    color: color("materialize-red", "lighten-2");
    font-size: 7rem;
    display: block;
  }
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0px;

}

#front-page-nav {
  background-color: #FFF;
  position: relative;
  a {
      color: color("materialize-red", "lighten-2");
    }
  li {
    &:hover {
      background-color: color("materialize-red", "lighten-5");
    }
    &.active {
      background-color: color("materialize-red", "lighten-5");
    }
  }
  .container {
    height: inherit;
  }
}

// Grid doc styles

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0px;

  span {
    font-weight: 200;
    line-height: 50px;
  }
}

.promo-example {
  overflow: hidden;
}


/*******************
  Flat Site Mockup
*******************/

#site-layout-example-left {
  background-color: color("blue-grey", "lighten-2");
  height: 300px;
}
#site-layout-example-right {
  background-color: color("teal", "lighten-1");
  height: 300px;
}
#site-layout-example-top {
  background-color: color("red", "lighten-2");
  height: 42px;
}

.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(255,255,255,.15);
  display: block;
  margin: 27px auto;
}
.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0,0,0,.15);
  display: block;
  margin: 27px auto;
  &.small {
    width: 25%;
    height: 25px;
    background-color: rgba(0,0,0,.15);
  }
  &.full-width {
    width: 100%;
  }
}

/**********************
**********************/

/*****************
  Chrome Browser
*****************/
$bottomColor: #E2E2E1;
$topColor: lighten($bottomColor, 2%);

$border: $bottomColor;

$width: 100%;
$height: auto;

.browser-window {
  text-align: left;
  width: $width;
  height: $height;
  display: inline-block;
  @include border-radius(5px 5px 2px 2px);
  background-color: #fff;
  margin: 20px 0px;
  overflow: hidden;

    .top-bar {
    height: 30px;
    @include border-radius(5px 5px 0 0);
    border-top: thin solid lighten($topColor, 1%);
    border-bottom: thin solid darken($bottomColor, 1%);
    background: linear-gradient($topColor, $bottomColor);
  }
}

.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: lighten($topColor, 10%);
  margin-right: 1px;
}
#close-circle {
  background-color: #FF5C5A;
}
#minimize-circle {
  background-color: #FFBB50;
}
#maximize-circle {
  background-color: #1BC656;
}
.browser-window .circles { margin: 5px 12px; }
.browser-window .content {
  margin: 0;
  width: 100%;
  // min-height: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}
.browser-window .row {
  margin: 0;
}

.clear { clear: both; }

/**********************
**********************/


// Color Wheel
.dynamic-color {

  .red, .pink, .purple, .deep-purple, .indigo, .blue, .light-blue, .cyan, .teal, .green, .light-green, .lime, .yellow, .amber, .orange, .deep-orange, .brown , .grey,  .blue-grey {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    line-height: 55px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    @include box-sizing(border-box);
  }
  .col {
    margin-bottom: 55px;   
  }
}

.center {
  text-align: center;
  vertical-align: middle;
}

// Icons
.icon-container i {
  font-size: 3em;
  display: block;
  margin-bottom: 10px;
}
.icon-container .icon-preview {
  height: 120px;
  text-align: center;
}

.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;

  float: left;
  margin: 0px 0px 15px 0px;
  p {
    margin: 0px 0;
  }
}

// tabs 
.tabs-wrapper {
  position: relative;
  height: 48px;
  @extend .hide-on-small-only;

  .row.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
}


// Shadow demo styling
.shadow-demo {
  background-color: color("teal", "lighten-1");
  width: 125px;
  height: 125px;
  margin: 20px auto;
  
  @media only screen and (max-width: $large-screen) {
    width: 100px;
    height: 100px;
    
  }
  
  @media only screen and (max-width: $small-screen) {
    width: 150px;
    height: 150px;
  }
}

// parallax demo
.parallax-container {
  height: 70%;

  .text-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -27px;
  }

}
@media #{$medium-and-down} {
  .parallax-container {
    height: auto;
  }
}

// Table of contents 
ul.table-of-contents {
  margin-top: 1.5rem;
}

// Prism Styling
code, pre {
  position: relative;
  font-size: 1.1rem;
}

.directory-markup {
  font-size: 1rem;
  line-height: 1.1rem !important;
}
pre[class*="language-"] {
  &:before {
    position: absolute;
    padding: 1px 5px;
    background: hsl(30, 10%, 90%);
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555;
    content:attr(class);
    font-size: .9rem;
    border: solid 1px rgba(51, 51, 51, 0.12);
    border-top: none;
    border-left: none;
  }
  padding: 25px 12px 7px 12px;
  border: solid 1px rgba(51, 51, 51, 0.12);
}

// BuySellAds Styling
.buysellads {
  position: relative;

  .bsa_it.one {
    width: 130px;
    position: absolute;
    left: 0;
    top: 50px;

    .bsa_it_p {
      left: 0;
      bottom: -15px;
    }
    .bsa_it_ad .bsa_it_t { color: color("red", "lighten-2"); }
    .bsa_it_ad .bsa_it_d { color: color("red", "lighten-3"); }
  }

  .bsa_it_ad a {
    display: block;
    width: 130px;
  }
}

.buysellads-header {
  margin-top: 30px;

  .bsa_it.one .bsa_it_p { bottom: -20px; }
}

.bsa_it.one {
  min-width: 230px;
  max-width: 270px;
  display: inline-block;
  text-align: left;

  .bsa_it_ad {
    border: 0;
    padding: 0;
    background-color: transparent;

    .bsa_it_t { color: #fff; }
    .bsa_it_d { color: color("red", "lighten-4"); }
  }

  .bsa_it_p {
    right: auto;
    left: 40px;
    bottom: -5px;

    a { color: color("red", "lighten-4"); }
  }
}



// Footer styling
footer{
  font-size: .9rem;
}
body.parallax-demo footer {
  margin-top: 0;
}

//About page styling
.image-container {
  width: 100%;
  img {
    max-width: 100%;
  }
}


// Mobile page styling

.mobile-image {
 @media #{$small-and-down} {
  max-width: 100%; 
 }
}

// Waves page styling
.waves-color-demo {
  .collection-item {
    height: 36px;
    line-height: 36px;
    code {
     line-height: 36px; 
    }
  }
  .btn {
    &:not(.waves-light) {
    background-color: color("shades", "white");
    color: #212121;
    }
  }
}

// Card Page styling
.card-panel span, .card-content p{
  -webkit-font-smoothing: antialiased;
}

#images {
  .card-panel {
    img {
      width: 100%;
    }
    .row {
      margin-bottom: 0;
    }
  }
}
