- var white_nav = false
- var page = "about"

html
  head
    include _head.html
  body
    include _navbar.jade
    include about/about_content.html
    include _footer.html
    include _scripts.html