- var white_nav = true
- var page = "About"

html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include about/about_content.html
    include _footer.html
    include _scripts.html