- var no_nav = false
- var page = "Advanced Collections"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _scripts.html
    include _navbar.jade
    main
      include page-contents/advancedcollections_content.html
    include _footer.html
