- var no_nav = false
- var page = "Badges"

doctype html
html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include page-contents/badges_content.html
    include _footer.html
    include _scripts.html