- var white_nav = false
- var page = "Components"
- var meta_descript = "Learn how to use our CSS components to easily build large scale websites quickly."

html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include components/components_content.html
    include _footer.html
    include _scripts.html