- var white_nav = false
- var page = "Components"

html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include components/components_content.html
    include _footer.html
    include _scripts.html