- var white_nav = false
- var page = "components"

html
  head
    include _head.html
  body
    include _navbar.jade
    include components/components_content.html
    include _footer.html
    include _scripts.html