- var no_nav = false
- var page = "CSS Transitions"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include page-contents/css-transitions_content.html
    include _footer.html
    include _scripts.html