- var no_nav = false
- var page = "Dialogs"

doctype html
html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include page-contents/dialogs_content.html
    include _footer.html
    include _scripts.html