- var no_nav = false
- var page = "Floating Action Button"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include page-contents/floating-action-button-content.html
    include _footer.html
    include _scripts.html