- var no_nav = false
- var page = "Forms"

doctype html
html(lang="en")
  head
    include _head.jade
    link(href='/extras/noUiSlider/nouislider.css', rel='stylesheet')
  body
    include _navbar.jade
    main
      include page-contents/forms_content.html
    include _footer.html
    include _scripts.html
    script(src="/extras/noUiSlider/nouislider.js")
    script(type='text/javascript').
      var slider = document.getElementById('range-input');
      noUiSlider.create(slider, {
       start: [20, 80],
       connect: true,
       step: 1,
       range: {
         'min': 0,
         'max': 100
       },
       format: wNumb({
         decimals: 0
       })
      });