- var page = "Fullscreen Slider"
- var isDemo = true

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include page-contents/fullscreen_slider_demo_content.html
    include _scripts.html