- var white_nav = true
- var page = "getting_started"

html
  head
    include _head.html
  body
    include _navbar.jade
    include getting_started/getting_started_content.html
    include _footer.html
    include _scripts.html