- var white_nav = true
- var page = "Getting Started"

html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include getting_started/getting_started_content.html
    include _footer.html
    include _scripts.html