- var white_nav = false
- var page = "JavaScript"

html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include javascript/javascript_content.html
    include _footer.html
    include _scripts.html