- var white_nav = false
- var page = "JavaScript"
- var meta_descript = "Learn how to use our JavaScript components to add meaningful animations and transitions to your website."

html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include javascript/javascript_content.html
    include _footer.html
    include _scripts.html