- var white_nav = false
- var page = "javascript"

html
  head
    include _head.html
  body
    include _navbar.jade
    include javascript/javascript_content.html
    include _footer.html
    include _scripts.html