- var page = "Parallax"

doctype html
html(lang="en")
  head
    include _head.jade
  body(class="parallax-demo")
    include page-contents/parallax_demo_content.html
    include _footer.html
    include _scripts.html