- var white_nav = false
- var page = "Sass"

html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include sass/sass_content.html
    include _footer.html
    include _scripts.html