- var no_nav = false
- var page = "Showcase"

doctype html
html
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include showcase/showcase_content.html
    include _footer.html
    include _scripts.html
