- var white_nav = true
- var page = "Themes"
- var meta_descript = "Find a premium Material Design theme built by the Materialize Team. Choose from 3 unique themes for a variety of different usecases."

doctype html
html(lang="en")
  head
    include _head.jade
  body.themes
    include _navbar.jade
    main
      include page-contents/themes_content.html
    include _footer.html
    include _scripts.html
