<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax Template - Materialize</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@materializecss/materialize/dist/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="css/style.css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section">
        <div class="container">
          <br><br>
          <h1 class="header center-align">Parallax Template</h1>
          <div class="row center-align">
            <h5 class="header col s12">
              A modern responsive front-end framework based on Material Design
            </h5>
          </div>
          <div class="row center-align">
            <a
              href="https://materializecss.github.io/materialize"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-large waves-effect waves-light teal lighten-1"
              >Get Started</a
            >
          </div>
          <br><br>
        </div>
      </div>
      <div class="parallax">
        <img src="background1.jpg" alt="Unsplashed background img 1" />
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center-align">
                <i class="medium material-icons">flash_on</i>
              </h2>
              <h5 class="center-align">Speeds up development</h5>

              <p>
                We did most of the heavy lifting for you to provide a default
                stylings that incorporate our custom components. Additionally,
                we refined animations and transitions to provide a smoother
                experience for developers.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center-align">
                <i class="medium material-icons">group</i>
              </h2>
              <h5 class="center-align">User Experience Focused</h5>

              <p>
                By utilizing elements and principles of Material Design, we were
                able to create a framework that incorporates components and
                animations that provide more feedback to users. Additionally, a
                single underlying responsive system across all platforms allow
                for a more unified user experience.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center-align">
                <i class="medium material-icons">settings</i>
              </h2>
              <h5 class="center-align">Easy to work with</h5>

              <p>
                We have provided detailed documentation as well as specific code
                examples to help new users get started. We are also always open
                to feedback and can answer any questions a user may have about
                Materialize.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section">
        <div class="container">
          <div class="row center-align">
            <h5 class="header col s12">
              A modern responsive front-end framework based on Material Design
            </h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="background2.jpg" alt="Unsplashed background img 2" />
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center-align">
            <h4>Contact Us</h4>
            <p class="left-align">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              scelerisque id nunc nec volutpat. Etiam pellentesque tristique
              arcu, non consequat magna fermentum ac. Cras ut ultricies eros.
              Maecenas eros justo, ullamcorper a sapien id, viverra ultrices
              eros. Morbi sem neque, posuere et pretium eget, bibendum
              sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
              nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa
              odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget
              dignissim mauris, non tristique erat. Vestibulum ante ipsum primis
              in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section">
        <div class="container">
          <div class="row center-align">
            <h5 class="header col s12">
              A modern responsive front-end framework based on Material Design
            </h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="background3.jpg" alt="Unsplashed background img 3" />
      </div>
    </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5>Company Bio</h5>
            <p>
              We are a team of college students working on this project like
              it's our full time job. Any amount would help support and continue
              development on this project and is greatly appreciated.
            </p>
          </div>
          <div class="col l3 s12">
            <h5>Settings</h5>
            <ul>
              <li><a href="#!">Link 1</a></li>
              <li><a href="#!">Link 2</a></li>
              <li><a href="#!">Link 3</a></li>
              <li><a href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Connect</h5>
            <ul>
              <li><a href="#!">Link 1</a></li>
              <li><a href="#!">Link 2</a></li>
              <li><a href="#!">Link 3</a></li>
              <li><a href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by
          <a
            style="color: #bcaaa4;"
            href="https://materializecss.github.io/materialize"
            target="_blank"
            rel="noopener noreferrer"
            >Materialize</a
          >
        </div>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize/dist/js/materialize.min.js"></script>
    <script>
      M.AutoInit();
    </script>
  </body>
</html>