@use "../variables" as var;
@use "input-fields";
@use "radio-buttons";
@use "checkboxes";
@use "switches";
@use "select";
@use "file-input";
@use "range";

// Remove Focus Boxes
select:focus {
  outline: var.$select-focus;
}

button:focus {
  outline: none;
  background-color: var.$button-background-focus;
}

label {
  font-size: var.$label-font-size;
  color: var.$input-border-color;
}
