/* Radio Buttons
   ========================================================================== */

[type="radio"]:not(.browser-default) {
  &:not(:checked),
  &:checked {
    // Remove default Radio Buttons
    position: absolute;
    opacity: 0;
    pointer-events: none;

    & + span {
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .28s ease;
      }

      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 1rem;
      transition: .28s ease;
      user-select: none;
    }
  }

  /* Unchecked styles */
  &:not(:checked) + span:before,
  &:not(:checked) + span:after,
  &:checked + span:before,
  &:checked + span:after,
  &.with-gap:checked + span:before,
  &.with-gap:checked + span:after {
    border-radius: 50%;
  }

  &:not(:checked) + span:before,
  &:not(:checked) + span:after {
    border: 2px solid $radio-empty-color;
  }

  &:not(:checked) + span:after {
    transform: scale(0);
  }

  /* Checked styles */
  &:checked + span:before {
    border: 2px solid transparent;
  }

  &:checked + span:after,
  &.with-gap:checked + span:before,
  &.with-gap:checked + span:after {
    border: $radio-border;
  }

  &:checked + span:after,
  &.with-gap:checked + span:after {
    background-color: $radio-fill-color;
  }

  &:checked + span:after {
    transform: scale(1.02);
  }

  /* Radio With gap */
  &.with-gap:checked + span:after {
    transform: scale(.5);
  }

  /* Focused styles */
  &.tabbed:focus + span:before {
    box-shadow: 0 0 0 10px rgba(0,0,0,.1);
  }

  /* Disabled Radio With gap */
  &.with-gap:disabled:checked + span:before {
    border: 2px solid $input-disabled-color;
  }

  &.with-gap:disabled:checked + span:after {
    border: none;
    background-color: $input-disabled-color;
  }

  /* Disabled style */
  &:disabled:not(:checked) + span:before,
  &:disabled:checked + span:before {
    background-color: transparent;
    border-color: $input-disabled-color;
  }

  &:disabled + span {
    color: $input-disabled-color;
  }

  &:disabled:not(:checked) + span:before {
    border-color: $input-disabled-color;
  }

  &:disabled:checked + span:after {
    background-color: $input-disabled-color;
    border-color: $input-disabled-solid-color;
  }
}
