{
  "plugins": [
    "external-helpers",
    "transform-es2015-arrow-functions",
    "transform-es2015-block-scoping",
    "transform-es2015-classes",
    "transform-es2015-template-literals",
    "transform-es2015-object-super"
  ]
}