* text=auto
**/*.html linguist-documentation
js/velocity.min.js linguist-vendored
js/jquery.easing.1.4.js linguist-vendored
js/jquery.timeago.min.js linguist-vendored


css/ghpages-materialize.css merge=ours
.gitignore merge=ours
.gitattributes merge=ours