* text=auto
**/*.html linguist-documentation
js/velocity.min.js linguist-vendored
js/hammer.min.js linguist-vendored
js/jquery.easing.1.3.js linguist-vendored
js/jquery.timeago.min.js linguist-vendored