/*
Hoverable have been bug in Chrome.
YouTube video: https://www.youtube.com/watch?v=Qk41PyJ2Wgo
Its css fix it. 
*/

.hoverable-z1, .hoverable-z2, .hoverable-z3, .hoverable-z4, .hoverable-z5 {
    transition:box-shadow .25s; box-shadow:0;
}

.hoverable-z1:hover {
    transition:box-shadow .25s; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.hoverable-z2:hover {
    transition:box-shadow .25s; box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

.hoverable-z3:hover {
    transition:box-shadow .25s; box-shadow:0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}

.hoverable-z4:hover {
    transition:box-shadow .25s; box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}

.hoverable-z5:hover {
    transition:box-shadow .25s; box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
}
