// RTL Badges
.rtl {
	span.badge {
		margin-left: initial;
		margin-right: 14px;
		float: left;

		&.new:after {
			content: " جدید";
		}
	}

	nav ul a span.badge {
		margin-left: initial;
		margin-right: 4px;
	}
}
