// RTL Grid
// Mixins to eliminate code repitition
@mixin reset-offset {
	margin-right: auto;
}
@mixin grid-classes($size, $i, $perc) {
	&.offset-#{$size}#{$i} {
		margin-right: $perc;
	}

	&.pull-#{$size}#{$i} {
		left: $perc;
	}

	&.push-#{$size}#{$i} {
		right: $perc;
	}
}

.row.rtl,
.rtl .row {

	.col {
		float: right;

		$i: 1;
		@while $i <= $num-cols {

			&.s#{$i} {
				@include reset-offset;
			}
			$i: $i + 1;
		}
		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");
			@include grid-classes("s", $i, $perc);
			$i: $i + 1;
		}
		@media #{$medium-and-up} {
			$i: 1;
			@while $i <= $num-cols {

				&.m#{$i} {
					@include reset-offset;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				@include grid-classes("m", $i, $perc);
				$i: $i + 1;
			}
		}
		@media #{$large-and-up} {
			$i: 1;
			@while $i <= $num-cols {

				&.l#{$i} {
					@include reset-offset;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				@include grid-classes("l", $i, $perc);
				$i: $i + 1;
			}
		}
		@media #{$extra-large-and-up} {
			$i: 1;
			@while $i <= $num-cols {

				&.xl#{$i} {
					@include reset-offset;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				@include grid-classes("xl", $i, $perc);
				$i: $i + 1;
			}
		}
	}

	&.reverse > {
		.col {
			float: left;
		}
	}
}
