// RTL Grid
.row.rtl, .rtl .row {
	.col {
		float: right;
		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");

			&.s#{$i} {
				margin-right: auto;
			}
			$i: $i + 1;
		}
		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");

			&.offset-s#{$i} {
				margin-right: $perc;
			}

			&.pull-s#{$i} {
				left: $perc;
			}

			&.push-s#{$i} {
				right: $perc;
			}
			$i: $i + 1;
		}
		@media #{$medium-and-up} {
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");

				&.m#{$i} {
					margin-right: auto;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");

				&.offset-m#{$i} {
					margin-right: $perc;
				}

				&.pull-m#{$i} {
					left: $perc;
				}

				&.push-m#{$i} {
					right: $perc;
				}
				$i: $i + 1;
			}
		}
		@media #{$large-and-up} {
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");

				&.l#{$i} {
					margin-right: auto;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");

				&.offset-l#{$i} {
					margin-right: $perc;
				}

				&.pull-l#{$i} {
					left: $perc;
				}

				&.push-l#{$i} {
					right: $perc;
				}
				$i: $i + 1;
			}
		}
	}
	&.reverse > {
		.col {
			float: left;
		}
	}
}
