<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>QUnit Example</title>
  {{#serve_files}}
  <script src="{{src}}"></script>
  {{/serve_files}}
  <link rel="stylesheet" href="/bower_components/qunit/qunit/qunit.css">
  <link rel="stylesheet" href="/tests/css/testing-container-styles.css">
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <div id="materialize-testing-container"></div>
</body>
</html>