span.badge {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  color: color('grey', 'darken-1');
  position: absolute;
  right: 15px;
  box-sizing: border-box;

  &.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: $badge-bg-color;
    border-radius: 2px;
  }
  &.new:after {
    content: " new";
  }
}
nav ul a span.badge {
  position: static;
  margin-left: 4px;
  line-height: 0;
}