$button-height: 36px;
$button-width: 120px;

.button {
  display: block;
  height: $button-height;
  width: $button-width;
  margin-bottom: 15px;
  padding: 0 20px; 
  text-decoration:none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
  @include border-radius(2px);
  letter-spacing: .8px;
  // Thick
  &.thick {
    height: $button-height * 1.5;
    line-height: 56px;
  }
  
  // Small
  &.small {
    width: $button-width * .75;
  }

  // Large
  &.large {
    width: $button-width * 1.5;
  }
  // Huge
  &.huge {
    width: $button-width * 2;
    height: $button-height * 1.5;
    line-height: 56px;
    font-size: 20px;
  }
  
  //  Raised
  &.raised {
    background-color: $blue;
    color: #FFFFFF;
    @extend .z-depth-1; 
    @include transition(.3s);

     &:hover {
      @extend .z-depth-3;
    }

    &.disabled {
      box-shadow: none;
      color: lighten(#606060, 40%);
      background-color: lighten(#606060,30%);
    }
  }
  
  // Flat
  &.flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;

    &.disabled {
      color: lighten(#999, 10%);
      background-color: lighten(#999, 30%);
    }
  }
  
  // Floating
  &.floating {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: $blue;
    @include border-radius(50%);
    @extend .z-depth-1;  
    @include transition(.3s);
    
    &:hover {
      @extend .z-depth-2;
    }
  }

}