// Google Color Palette defined: http://www.google.com/design/spec/style/color.html

$color-depth: 5;

$colors: (
  red: #e51c23,
  pink: #e91e63,
  purple: #9c27b0,
  deep-purple: #673ab7,
  indigo: #3f51b5,
  blue: #5677FC,
  light-blue: #03A9F4,
  cyan: #00bcd4,
  teal: #009688,
  green: #259b24,
  light-green: #8bc34a,
  lime: #cddc39,
  yellow: #ffeb3b,
  amber: #ffc107,
  orange: #ff9800,
  deep-orange: #ff5722,
  brown: #795548,
  grey: #9e9e9e,
  blue-grey: #607d8b,
);

@each $name, $value in $colors {
  .#{$name} {
    background-color: $value;

    $i: 1;
    @while $i <= $color-depth {
      $perc: unquote(9% * $i);
      &.lighten-#{$i} {
        background-color: lighten($value, $perc);
      }
      $i: $i + 1;
    }
    $i: 1;
    @while $i <= $color-depth {
      $perc: unquote(5% * $i);
      &.darken-#{$i} {
        background-color: darken($value, $perc);
      }
      $i: $i + 1;
    }
  }
  .#{$name}-text {
    color: $value;

    $i: 1;
    @while $i <= $color-depth {
      $perc: unquote(9% * $i);
      &.lighten-#{$i} {
        color: lighten($value, $perc);
      }
      $i: $i + 1;
    }
    $i: 1;
    @while $i <= $color-depth {
      $perc: unquote(5% * $i);
      &.darken-#{$i} {
        color: darken($value, $perc);
      }
      $i: $i + 1;
    }
  }
}

$white: #fff;
.white { background-color: $white; }
.white-text { color: $white; }
