@charset "UTF-8";

// Media Query Ranges
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen})";
$large-and-up: "only screen and (min-width : #{$medium-screen})";

$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";

// Grid Variables
$num-cols: 12;
$gutter-width: 1rem;

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

$num-cols: 12;


// Z-levels

.z-depth-1{
    @include box-shadow-2(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}
.z-depth-1-half{
    @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.z-depth-2{
    @include box-shadow-2(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-3{
    @include box-shadow-2(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}
.z-depth-4{
    @include box-shadow-2(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21));
}
.z-depth-5{
    @include box-shadow-2(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22));
}

// parallax
.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media #{$medium-and-down} {
  .parallax-container {
    height: auto;
  }
  .parallax {
    position: relative;
    width: 100%;

    img {
      position: relative;
    }
  }
}

//Default styles

ul {
	list-style-type: none;
}

a {
	@extend .light-blue-text.darken-1;
	text-decoration: none;
}

.text-center {
  text-align: center;
}


// Browser Size Dependent Visibility
.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none !important;
  } 
}

.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  } 
}

.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  } 
}

.hide-on-med-only {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: none !important; 
  }
}

.hide-on-large-only {
  @media #{$large-and-up} {
    display: none !important; 
  }
}


// Footer
#footer {
  text-align: center;

  a {
    vertical-align: top;
    line-height: 30px;
  }
}

