@charset "UTF-8";

// Media Query Ranges
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 992px;

$small-and-up: "only screen and (min-width : 0)";
$medium-and-up: "only screen and (min-width : #{$medium-screen})";
$large-and-up: "only screen and (min-width : #{$large-screen})";


// Grid Variables
$num-cols: 12;
$gutter-width: 1em;

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

$num-cols: 12;


// Z-levels

.z-depth-1{
    @include box-shadow-2(0px 1px 5px -2px rgba(0, 0, 0, 0.4), 0px 1.5px 5px -2px rgba(0, 0, 0, 0.4));
}
.z-depth-2{
    @include box-shadow-2(0px 3px 10px -2px rgba(0, 0, 0, 0.4), 0px 5px 10px -2px rgba(0, 0, 0, 0.4));
}
.z-depth-3{
    @include box-shadow-2(0px 6px 19px -2px rgba(0, 0, 0, 0.35), 0px 7px 19px -2px rgba(0, 0, 0, 0.35));
}
.z-depth-4{
    @include box-shadow-2(0px 8px 26px -3px rgba(0, 0, 0, 0.35), 0px 11px 26px -3px rgba(0, 0, 0, 0.35));
}
.z-depth-5{
    @include box-shadow-2(0px 10px 35px -3px rgba(0, 0, 0, 0.35), 0px 15px 35px -3px rgba(0, 0, 0, 0.35));
}

// parallax
.parallax-container {
  position: relative;
  overflow: hidden;
}
.parallax {
  position: relative;
  z-index: -1;

  img {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
