@charset "UTF-8";

// Media Query Ranges
$small-screen: 768px;
$large-screen: 992px;

$small-and-up: "only screen and (min-width : 0)";
$medium-and-up: "only screen and (min-width : #{$small-screen})";
$large-and-up: "only screen and (min-width : #{$large-screen})";


// Grid Variables
$num-cols: 12;