.modal {
  @extend .z-depth-1;
  display: none;
  background-color: #eee;
  padding: 24px;
  max-height: 70%;
  max-width: 55%;
  left: 0;
  right: 0;
//  top: 10%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  @include transform(translate(0));
  
  @media #{$medium-and-down} {
   max-width: 80%; 
  }

  h1,h2,h3,h4 {
    margin-top: 0;
  }
}
#lean_overlay {
    position: fixed;
    z-index:999;
    top: 0px;
    left: 0px;
    height: 120%;
    width: 120%;
    background: #000;
    display: none;
}

.modal-action {
  margin-top: 10px;
  margin-bottom: 0px;
}