nav {
  color: #fff;
  @extend .z-depth-1;
  @extend .red.lighten-2;
  width: 100%;

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  a { color: #fff; }

  a.button-collapse {
    float: left;
    font-size: 2.7rem;
    @extend .show-on-med-and-below;
    position: relative;
    z-index: 1;
  }

  .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    
    @media #{$medium-and-down} {
//      position: absolute;
//      right: 0;
      width: 100%;
      text-align: center;
      z-index: 0;
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }
  }

  ul {
    margin: 0;
    float: right;

    li { 
      float: left;
      padding: 0px;
      @include transition(background-color .3s);

      &:hover, &.active {
        @extend .red.lighten-1;
      }
    }
    a { 
      font-size: 1rem;
      color: #fff; 
      display: block;
      padding: 0px 10px;
    }

    &.left {
      float: left;
    }
  }
}


@media #{$small-and-up} {
  nav, a.button-collapse i {
    height: 56px;
    line-height: 56px;
  }
}
@media #{$medium-and-up} {
  nav, a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
}