nav {
  background-color: $blue;
  color: #fff;

  a.logo {
    height: inherit;
    line-height: inherit;
    display: inline-block;
    color: inherit;
    float: left;
    font-size: 36px;

    i { -webkit-font-smoothing: antialiased; }
  }
}

@media #{$small-and-up} {
  nav {
    height: 56px;
    line-height: 56px;
  }
}
@media #{$medium-and-up} {
  nav {
    height: 64px;
    line-height: 64px;
  }
}