nav {
  color: #fff;
  @extend .z-depth-1;
  background-color: color("materialize-red", "lighten-2");
  width: 100%;
  height: 56px;
  line-height: 56px;

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  a { color: #fff; }

  a.button-collapse {
    float: left;
    @extend .hide-on-large-only;
    position: relative;
    z-index: 1;

    i {
      font-size: 2.7rem;
      height: 56px;
      line-height: 56px;
    }
  }

  .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    
    @media #{$medium-and-down} {
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 0;
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }
  }

  ul {
    margin: 0;
    float: right;

    li { 
      float: left;
      padding: 0px;
      @include transition(background-color .3s);

      &:hover, &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a { 
      font-size: 1rem;
      color: #fff; 
      display: block;
      padding: 0px 15px;
    }

    &.left {
      float: left;
    }
  }
}
@media #{$medium-and-up} {
  nav, nav .nav-wrapper i, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
  nav .nav-wrapper i {
    font-size: 2rem;    
  }
}