nav {
  background-color: $blue;
  color: #fff;
  font-family: "Roboto", arial, helvetica, sans-serif;

  a.logo {
    height: inherit;
    line-height: inherit;
    display: inline-block;
    color: inherit;
    float: left;
    font-size: 36px;

    i { -webkit-font-smoothing: antialiased; }
  }

  ul {
    margin: 0;

    li {

    }
    a { color: #fff; }

    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}

@media #{$small-and-up} {
  nav {
    height: 56px;
    line-height: 56px;
  }
}
@media #{$medium-and-up} {
  nav {
    height: 64px;
    line-height: 64px;
  }
}