@font-face {
    font-family: "Roboto";
    src: url("#{$roboto-font-path}Roboto-Thin.woff2"),
        url("#{$roboto-font-path}Roboto-Thin.woff"),
        url("#{$roboto-font-path}Roboto-Thin.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url("#{$roboto-font-path}Roboto-Light.woff2"),
        url("#{$roboto-font-path}Roboto-Light.woff"),
        url("#{$roboto-font-path}Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("#{$roboto-font-path}Roboto-Regular.woff2"),
        url("#{$roboto-font-path}Roboto-Regular.woff"),
        url("#{$roboto-font-path}Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("#{$roboto-font-path}Roboto-Medium.woff2"),
        url("#{$roboto-font-path}Roboto-Medium.woff"),
        url("#{$roboto-font-path}Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("#{$roboto-font-path}Roboto-Bold.woff2"),
        url("#{$roboto-font-path}Roboto-Bold.woff"),
        url("#{$roboto-font-path}Roboto-Bold.ttf");
    font-weight: 700;
}