@media only screen and (max-width: 992px) {
  ul.side-nav {
    position: fixed;
    width: 240px;
    left: -250px;
    top: 0;
    height: 120%;
    background-color: #FFF;
    z-index: 999;
    @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));

    will-change: left;

    // Right Align
    &.right {
      will-change: right;
      right: -250px;
      left: auto;
    }


    li {
      float: none;
      padding: 0 15px;

      &:hover, &.active { background-color: #ddd; }
    }
    a {
      color: #444;
    }
  }
}

ul.side-nav.full {
  position: fixed;
  width: 240px;
  left: -250px;
  top: 0;
  height: 120%;
  margin: 0;
  background-color: #FFF;
  z-index: 999;
  @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));

  will-change: left;

  // Right Align
  &.right {
    will-change: right;
    right: -250px;
    left: auto;
  }

  li {
    float: none;
    line-height: 64px;
    padding: 0 15px;
    @include transition(background-color .3s);

    &:hover, &.active { background-color: #ddd; }
  }
  a {
    display: block;
    padding: 0 15px;
    color: #444;
  }
}

#sidenav-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,.5);
  z-index: 998;

  will-change: opacity;
}