@media only screen and (max-width: 992px) {
  ul.side-nav {
    position: fixed;
    width: 240px;
    left: -240px;
    top: 0;
    height: 120%;
    background-color: #FFF;
    z-index: 999;
    @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
    
    will-change: left;

    li {
      float: none;
      padding: 0 15px;

      &:hover, &.active { background-color: #ddd; }
    }
    a {
      color: #444;
    }
  }
  #front-page-nav ul.side-nav {
    li {
      float: none;
      padding: 0 15px;

      &:hover { background-color: #ddd; }
      .active { background-color: transparent; }
    }
    a {
      color: #444;
    }
  }
}

#sidenav-overlay {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: rgba(0,0,0,.5);
  z-index: 998;
  
  will-change: opacity;
}