/***************
    Nav List 
***************/
ul.table-of-contents {
  &.fixed {
      position: fixed;
    }

  li {
  }
  a {
    color: #757575;
    
    &:hover {
      color: lighten(#757575, 20%);
      padding-right: 10px;
      border-right: 1px solid lighten(map-get($colors, "red"),10%);
    }
    &.active {
      padding-right: 10px;
      border-right: 4px solid lighten(map-get($colors, "red"),10%);
    }
  }
}