ul.tabs {
  position: relative;
  height: 48px;
  background-color: #FFF;
  margin: 0 auto;

  li.tab {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: auto;

    a {
      color: lighten($red, 18%);
      display: block;
      width: 100%;
      height: 100%;
      @include transition( color .28s ease);
      &:hover {
        @extend .red-text.lighten-4;
      }
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    @extend .red.lighten-2; 
  }
}

@media #{$small-and-up} {
  ul.tabs li.tab { padding: 0; }
}