.material-tooltip {
//    @extend .z-depth-2;
    padding: 10px 8px;
    font-size: 1rem;
    z-index: 1000;
    background-color: transparent;
    border-radius: 2px;
    color: #fff;
    height: 1rem;
    line-height: 1rem;
    max-width: 200px;
    opacity: 0;
    display: none;
    position: absolute;
    text-align: center;
    overflow: hidden;
    left:0;
    top:0;
}


.backdrop {
  position: absolute;
  opacity: 0;
  display: none;
  height: 7px;
  width: 14px;
  border-radius: 0 0 14px 14px;
  background-color: #323232;
  z-index: -1;
}
