.dtp { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 2000; }
.dtp > .dtp-content { background: #fff; max-width: 300px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); max-height: 500px; position: relative; left: 50%; }
.dtp > .dtp-content > .dtp-date-view > header.dtp-header { background: $dtp-header; color: $dtp-text-color; text-align: center; padding: 0.2rem; }

.dtp div.dtp-date, .dtp div.dtp-time { background: $dtp-datetime-bg-color; text-align: center; color: $dtp-text-color; padding: 10px; }
.dtp div.dtp-date > div { padding: 0; margin: 0; }
.dtp div.dtp-actual-month { font-size: 1.5em; }
.dtp div.dtp-actual-num { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-maxtime { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-year { font-size: 1.5em; color: $dtp-year-color; }
.dtp div.dtp-picker { padding: 0.6667rem; text-align: center; }

.dtp div.dtp-picker-month, .dtp div.dtp-actual-time { font-weight: 500; text-align: center; }

.dtp .dtp-close { position: absolute; top: 0.5em; right: 0.6667rem; }
.dtp .dtp-close > a { color: $dtp-text-color; }
.dtp .dtp-close > a > i { font-size: 1em; }

.dtp table.dtp-picker-days { margin: 0; min-height: 251px;}
.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr > td { border: none; }
.dtp table.dtp-picker-days tr > td {  font-weight: 700; font-size: 0.8rem; text-align: center; padding: 0.6667rem 0.2rem; }
.dtp table.dtp-picker-days tr > td > span.dtp-select-day { color: $dtp-value-color!important; }
.dtp table.dtp-picker-days tr > td > a, .dtp .dtp-picker-time > a { color: $dtp-value-color; text-decoration: none; padding:0.4rem; border-radius: 50%!important; }
.dtp table.dtp-picker-days tr > td > a.selected{ background: $dtp-dt-selection-color; color: $dtp-text-color; }
.dtp table.dtp-picker-days tr > th { color: $dtp-days-color; text-align: center; font-weight: 700; padding: 0.2667rem 0.2rem; }

.dtp .p10 > a { color: $dtp-dt-selection-color; text-decoration: none; }
.dtp .p10 { width: 10%; display: inline-block; }
.dtp .p20 { width: 20%; display: inline-block; }
.dtp .p60 { width: 60%; display: inline-block; }
.dtp .p80 { width: 80%; display: inline-block; }

.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm { position: relative; top: 10px; color: #212121; font-weight: 500; padding: 0.5rem; border-radius: 50%!important;text-decoration: none; background: #eee; font-size: 0.6667rem; }
.dtp .dtp-actual-meridien a.selected { background: $dtp-dt-selection-color; color: $dtp-text-color; }

.dtp .dtp-picker-time > a { display: block; line-height: 23px; padding: 0.2rem 0.2rem 0.2rem 0.2rem; }
.dtp .dtp-picker-time { position: absolute;width: 30px;height: 30px;font-size: 0.8em;border-radius: 50%;cursor: pointer;font-weight: 500;text-align: center!important; }

.dtp .dtp-picker-time > a.dtp-select-hour.selected { background: $dtp-dt-selection-color; color: $dtp-text-color; }
.dtp .dtp-picker-time > a.dtp-select-hour.disabled, .dtp .dtp-picker-time > a.dtp-select-minute.disabled { color: $dtp-hour-minute-disabled; }
.dtp .dtp-picker-time > a.dtp-select-minute.selected { background: $dtp-dt-selection-color; color: $dtp-text-color; }

.dtp div.dtp-picker-clock { margin: 0.6667rem 1.333rem 0 1.333rem; padding: 0.6667rem; border-radius: 50%!important; background: $dtp-clock-bg; }
.dtp-clock-center { width: 15px; height: 15px; background: $dtp-clock-center-bg; border-radius: 50%; position: absolute; z-index: 50; }

.dtp .dtp-hand, .dtp .dtp-hour-hand { position: absolute; width: 4px; margin-left: -2px; background: $dtp-hand-bg; -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); -moz-transform-origin: bottom; -ms-transform-origin: bottom; -webkit-transform-origin: bottom; transform-origin: bottom; z-index: 1; }
.dtp .dtp-minute-hand { width: 2px; margin-left: -1px; }
.dtp .dtp-hand.on { background: $dtp-time-hand-color; }

.dtp .dtp-buttons { 
    padding: 0 0.6667rem 0.6667rem 0.6667rem; 
    text-align: right; 
    & > button:focus{
        background-color: inherit;
    }
}

.dtp.hidden, .dtp .hidden { display: none; }
.dtp .invisible { visibility: hidden; }

.dtp .left { float: left; }
.dtp .right { float: right; }
.dtp .clearfix { clear: both; }

.dtp .center { text-align: center; }


