/* File Input
   ========================================================================== */
.rtl {
	.file-field {
		.file-path-wrapper {
			padding-left: initial;
			padding-right: 10px;
		}

		.btn {
			float: right;
		}
	}
}
