- var no_nav = false
- var page = "Modals"

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include page-contents/modals_content.html
    include _footer.html
    include _scripts.html
