- var no_nav = false
- var page = "Shadow"

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include page-contents/shadow_content.html
    include _footer.html
    include _scripts.html
