- var no_nav = false
- var page = "Dialogs"

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include page-contents/dialogs_content.html
    include _footer.pug
    include _scripts.html
  script(type='text/javascript').
    var displayCustomHTMLToast = function () {
      var $toastContent = $('<span>I am toast content</span>');
      Materialize.toast($toastContent, 5000);
    }
