- var white_nav = true
- var page = "Getting Started"
- var meta_descript = "Learn how to quickly get started using our CSS framework. We have guides for a variety of skill levels."

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include getting_started/getting_started_content.html
    include _footer.html
    include _scripts.html
    script.
      $('#download-source, #download-sass').on('click', function () {
        $('#download').slideUp(
          { duration: 500,
            easing: "easeOutQuart",
            queue: false,
            complete: function()
              { $('#download-thanks').slideDown({ duration: 300,
            easing: "easeOutQuart"}); }
          });

      });