- var no_nav = true

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include index/index_content.html
    include _footer.pug
    include _scripts.html
