- var no_nav = false
- var page = "Mobile"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include mobile/mobile_content.html
    include _footer.html
    include _scripts.html