- var no_nav = false
- var page = "Pagination"

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include page-contents/pagination_content.html
    include _footer.pug
    include _scripts.html