- var no_nav = false
- var page = "Themes"

doctype html
html(lang="en")
  head
    include _head.pug
  body.themes
    include _navbar.pug
    main
      include page-contents/themes_content.html
    include _footer.pug
    include _scripts.html
