<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Dashboard - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav class="white" role="navigation">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo black-text center">Dashboard</a>
          <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <ul id="slide-out" class="side-nav fixed">
      <li>
        <div class="userView">
          <div class="background">
            <img src="https://i.imgur.com/ddmvxOn.png">
          </div>
          <a href="#!user"><img class="circle" src="https://i.imgur.com/kBVuW7I.jpg"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li class="active"><a href="#!"><i class="material-icons">home</i>Home</a></li>
      <li><a href="#!"><i class="material-icons">inbox</i>Inbox</a></li>
      <li><a href="#!"><i class="material-icons">delete</i>Trash</a></li>
      <li><a href="#!"><i class="material-icons">report</i>Spam</a></li>
      <li><a href="#!"><i class="material-icons">forum</i>Forums</a></li>
      <li><a href="#!"><i class="material-icons">flag</i>Updates</a></li>
      <li><a href="#!"><i class="material-icons">local_offer</i>Promos</a></li>
      <li><a href="#!"><i class="material-icons">shopping_cart</i>Purchases</a></li>
      <li><a href="#!"><i class="material-icons">people</i>Social</a></li>
      <li><a href="#!"><i class="material-icons">help_outline</i>Help & Feedback</a></li>
    </ul>
  </header>

  <main>
    <div class="container">
      <h1>Home</h1>
      <section class="row center-align">
        <div class="col s6 m3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAALplyf///yH5BAEAAAEALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="responsive-img circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span>Something awesome</span>
        </div>
        <div class="col s6 m3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAO88ef///yH5BAEAAAEALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="responsive-img circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span>Something awesome</span>
        </div>
        <div class="col s6 m3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAC71v///yH5BAEAAAEALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="responsive-img circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span>Something awesome</span>
        </div>
        <div class="col s6 m3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAKzsAP///yH5BAEAAAEALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="responsive-img circle" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span>Something awesome</span>
        </div>
      </section>
    </div>
  </main>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>
