- var no_nav = false
- var page = "Dropdown"

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include page-contents/dropdown_content.html
    include _footer.html
    include _scripts.html